{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-small uk-card-body uk-width-1-2@m uk-margin">
    {{ form_start(registrationForm) }}
        <h1 class="uk-card-title" >Register</h1>
        <div class="uk-card-body">
            <form>
                {{ form(registrationForm) }}

            </form>

        </div>
{#        {{ form_rest(registrationForm) }}#}
    {{ form_end(registrationForm) }}
</div>
</div>

{% endblock %}
